<h1 style="font-size:3rem;color:#6667AB;">TP 1</h1>

## Méthodes de Simulation Informatique
### Amaya Nogales Gómez

<h2> Partie 1: Rappel de <i>list</i> </h2>

Une liste est une collection d'éléments, qui est stockée dans une variable. Les éléments doivent être liés d'une manière ou d'une autre, mais il n'y a aucune restriction sur ce qui peut être stocké dans une liste. 

Voici un exemple simple de liste et comment nous pouvons accéder rapidement à chaque élément de la liste.

### Exemple

Voici un exemple simple de liste et comment nous pouvons accéder rapidement à chaque élément de la liste.

In [1]:
etudiants = ['laurene', 'sami', 'njariniaina']

for etudiant in etudiants:
    print("Salut, " + etudiant.title() + "!")

Salut, Laurene!
Salut, Sami!
Salut, Njariniaina!

### Nommer et définir une liste

Puisque les listes sont des collections d'objets, il est recommandé de leur donner un nom au pluriel. Si chaque élément de votre liste est un fruit, appelez la liste "fruits". Si chaque élément est une livre, appelez votre liste "livres". Cela vous donne un moyen simple de faire référence à la liste entière ("livres") et à un seul élément de la liste ("livre").

En Python, les crochets désignent une liste. Pour définir une liste, vous indiquez le nom de la liste, le signe égal et les valeurs que vous souhaitez inclure dans votre liste entre crochets.

In [2]:
fruits = ['pomme', 
        'banane', 
        'poire']

fruit = fruits[0]
print(fruit)
print(fruit.title())

pomme
Pomme

1. Imprimer le deuxième terme de la liste fruits.

2. Imprimer le dernier terme de la liste fruits.

3. Creez une liste avec au moins 4 prénoms des copines et/ou copains de classe.

4. Imprimez chacune de ces valeurs, en utilisant leur position dans la liste.

5. Print a statement about each of these values, using their position in the list.

6. Creer une liste d'entiers de 0 a 5. Appeler cette liste a_list.

7. Quel est le type de a_list?

8. Transformez a_list en une list et verifier le type de a_list.

9. Quel est le type du premier terme de a_list?

10. Creer la liste des carres des nombres de 0 a 5: 0, 1, 4, 9, 16, 25.
Appeler cette liste squares.

11. Afficher le premier et dernier terme de la liste squares.

12. Afficher la sous-liste composee des trois premiers terme de la liste.

13. Creer une seconde liste square_2 avec les carres des nombres de 6 a 10: 36, 49, 64, 81, 100.
Concatener squares et squares_2 avec l'operateur +.

14. Ci dessous la liste des cubes des nombres de 1 a 5. Une erreur s'est glissee dans la liste. Remplacer l'erreur par la correcte valeur.

In [3]:
cubes = [1, 8, 27, 65, 125]
print(cubes)
#Remplacer l'erreur dans la liste cubes:

[1, 8, 27, 65, 125]

<h2> Partie 2: NumPy </h2> 

La fonctionnalité centrale de NumPy est la classe d'objet tableau (<i>array</i>). Les tableaux sont similaires aux listes en Python,
sauf que chaque élément d'un tableau doit être du même type, généralement un type numérique comme
<i>float</i> ou <i>int<i/>. 
    
Les tableaux rendent les opérations avec de grandes quantités de données numériques très rapides et sont généralement beaucoup plus efficace que les listes.

2.1. Importez NumPy comme nom plus bref <i>np<i>.

2.2. Creez un tablau partir de la liste a_list.

2.3 Quel est le type de a_list?

2.4. Imprimez le deuxième terme du tableau a_array.

2.4. Imprimez les 3 derniers termes du tableau a_array.

2.5. Creez un tableau de dimension 2. Appelez-le A.

2.6. Imprimez le premier et dernier terme du tableau A.

2.7. Imprimez la taille des listes squares et squares_2. Corrigez l'erreur dans le code suivant.

In [5]:
B=np.array([squares,squares_2])

NameError: name 'squares' is not defined

2.8. Quel est le type des termes de a_array?

2.9. Changez le type de a_array to float.

2.10. Qu'est que ca donne comme solution la fonction len quand on l'a utilise avec un tableau? Essayez avec un tableau de taille 1 et 2.

2.11. Est-ce que le terme 2 est present dans le tableau A? Utilisez la fonction <i>in<i/>.

2.12. Changez le premier terme du tableau a pour un autre nombre entier. Est-ce que ca change aussi dans les tableaux b et c? Pourquoi?

In [6]:
a = np.array([1, 2, 3], float)
b = a
c = a.copy()

2.13. Transformer le tableau a_array dans une liste.

2.14. Utilisez la fonction fill pour creer un tableau de taille (2,5), avec la premier file de "0" et la deuxieme de "1".

2.15. Quel fonction obtient B quand elle est appliquee a A?

In [7]:
A=np.array([[ 0., 1., 2.],[ 3., 4., 5.]])
B=np.array([[ 0., 3.],[ 1., 4.],[ 2., 5.]])

2.16.Transformez le tableau a dans un tableau de taille 6.

In [8]:
a = np.array([[1, 2, 3], [4, 5, 6]], float)

2.17. Quelle taille aura np.concatenate((a,b,c))?

In [9]:
a = np.array([1,2], float)
b = np.array([3,4,5,6], float)
c = np.array([7,8,9], float)

2.18. En utilisant la fonction <i>concatenate</i> a a et b, comment est-que on peut obtenir les tableaux c et d?

In [10]:
a = np.array([[1, 2], [3, 4]], float)
b = np.array([[5, 6], [7,8]], float)
c = np.array([[ 1., 2.],[ 3., 4.],[ 5., 6.],[ 7., 8.]])
d = np.array([[ 1., 2., 5., 6.],[ 3., 4., 7., 8.]])

2.19. Creez un tableau de type <i>float</i> de 1 a 5 avec la fonction arange.

2.20. Creez un tableau de type <i>int</i> avec les nombres pair de 1 a 10.

2.21. Creez un tableau de type <i>int<i/> avec les nombres pair de 1 a 10.

2.22. Avec les fonctions <i>zeros<i/> et <i>ones<i/>, creez un tableau de taille (2,3) rempli de "1" et un tableau de taille 7 rempli de "0".

2.23. Creez de deux facons differentes la matrice identité de taille 4 avec les fonctions <i>identity<i/> et <i>eye<i/>.

2.24. En utlisant des opérations mathématiques standard avec les tableaux a et b, obtenez les tableaux c, d, e.

In [11]:
a = np.array([1,2,3], float)
b = np.array([5,2,6], float)
c = np.array([6., 4., 9.])
d = np.array([-4., 0., -3.])
e = np.array([5., 4., 216.])

2.25. Corrigez l'erreur dans le code suivant.

In [12]:
a = np.array([1,2,3], float)
b = np.array([4,5], float)
a + b

ValueError: operands could not be broadcast together with shapes (3,) (2,)

2.26. Creez un tableau a de type <i>float</i> de tel facon que:
```    
>>> np.ceil(a)
array([ 2., 2., 2.])
```

2.27. Obtenez le tableau d'entiers arrondi de:

In [13]:
a = np.array([1.1, 1.5, 1.9], float)

2.28. Remplacez les fonctions <i>f1<i/> et <i>f2<i/> de tel facon que:

```
>>> a.f1()
9.0
>>> a.f2()
24.0
```

In [14]:
a = np.array([2, 4, 3], float)

2.29. Creez un tableau a de facon que a.mean()= 4.0.

2.30. Calculez la variance et déviation standard de a.

In [15]:
a = np.array([2, 4, 3], float)

2.31. Calculez le terme minimal et maximal de a, et les indices correspondants.

In [16]:
a = np.array([2, 1, 9, 3, 0], float)

2.32. Calculez le produit élément par élément et le produit matriciel de a et b.

In [17]:
a = np.array([1, 2, 3], float)
b = np.array([0, 1, 1], float)

2.33. Creez un nombre aleatoire entre [0.0,1.0).

2.34. Creez un tableau aleatoire entre [0.0,1.0) de taille 5.

2.35. Creez un nombre entier aleatoire entre 5 et 10.

<h2> Partie 3: Pandas </h2>

3.1. Importez pandas comme nom plus bref np.

3.2. Importez les donnees fichier achats.csv et gardez-les dans un dataframe <i>df_csv<i/>.

3.3. Importez les donnees fichier achats.json et gardez-les dans un dataframe <i>df_json</i>. Est-ce que il y a quelque difference entre les deux dataframes?

3.4. Creez manuellement le meme dataframe et gardez-le en <i>df_m</i>. Appelez la colonne de prenoms 'Owner'.

3.5. Changez la colonne d'indices pour la colonne 'Owner' avec la fonction set_index et imprimez le dataframe.

3.6. Changez le nom de la colonne 'apples' pour 'pommes'.

3.7. Sauvegarez maintenant votre nouveau dataframe dans un fichier csv et json.

3.8. Importez le fichier "IMDB-Movie-Data.csv" dans un dataframe. Appelez-le 'movies_df'.

3.9. Utilisez la fonction <i>head</i> pour montrer les premieres rangees du dataframe.

3.10. Maintenant, montrez les deux dernieres rangees du dataframe.

3.11. Calculez la taille du dataframe.

3.12. Utilisez la fonction <i>colums<i/> pour obtenir les noms des colonnes du dataframe.

3.13. Utilisez la fonction <i>info</i>. De quel type est la colonne 'Year'? Et 'Rating'? Est-ce que il y a des rangées avec termes nuls?

3.14. Cet ensemble de données ne contient pas de rangées répétées, mais il est toujours important de vérifier que vous n'agrégez pas de rangées répétées.

Eliminez les rangées répétées du dataframe temp_df, dans lequel nous avons doublé simplement nos films DataFrame en l'ajoutant à lui-même :

In [ ]:
temp_df = movies_df.append(movies_df)

temp_df.shape

3.15. Renommez la colonne 'Runtime (Minutes)' par 'Runtime', et la colonne 'Revenue (Millions)' par 'Revenue_millions' sans creer un nouveau dataframe (en utilisant le argument <i>inplace<i/>.

3.16. Changez le nom de toutes les colonnes pour etre en miniscule.

3.17. Eliminez les colonnes 'rank' et 'actors'.

3.18. En utilisant la fonction <i>is_null<i/> et <i>sum<i/>, calculez combien d'termes nuls il y a dans le dataframe.

3.19. Elimines les files que contientent des valeurs nuls. Quelle-est la nouvelle taille du dataframe?

3.20. Elimines les colonnes que contientent des valeurs nuls. Quelle-est la nouvelle taille du dataframe?

3.21. Gardez la colonne 'revenue_millions' dans une nouvelle variable, appellez-la revenue. Calculez et gardez dans un variable revenue_moyenne le valour moyenne de la variable revenue.

3.22. Remplissez avec la moyenne les valeurs nuls en utilisant fillna().

3.23. Suivez le meme process pour remplir les valeurs de la colonne 'metascore' avec sa moyenne.

3.24. Utilisez la fonction <i>set_index<i/> pour selectioner comme indice la colonne 'title'.

3.25. Selectionez avec l'aide de <i>loc</i> le film "Prometheus".

3.26. Selectionez avec l'aide de <i>iloc</i> le film "Prometheus".

3.27. Maintenant, creez un sous-ensemble du dataframe qui contient seulement quelques rangees.

3.28. Selectionez les rangees qui satisfaient la condition "rating">=8.6.

3.29. Creez une nouvelle colonne 'rating_category' qui a le valeur 'bon' si le valeur de 'rating'>=8.0 et 'mauvais' au cas contraire.
Creez une fontion <i>rating_function(x)</i> qui retourne comme solution "bon" si x>=8.0 et "mauvais" au cas contraire.

3.30. Creez une nouvelle colonne 'rating_category' qui a le valeur 'bon' si le valeur de 'rating'>=8.0 et 'mauvais' au cas contraire.
Utilisez la fonction <i>apply()<i/>.